<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SMS.WebApp</title>
    <partial name="Baeckend/Style" />
    @await RenderSectionAsync("Style", required: false)
</head>
<body>
    <div class="wrapper">
        <partial name="Baeckend/Asidbar" />
        <div>
            @RenderBody()

        </div>
       
    </div>
   
   
   @*  <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div> *@
    <partial name="Baeckend/Scripts" />
   
   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
